<div class="panel-sidebar-hide-wrapper">
    <figure class="arrow-down"></figure>
    <div class="panel-sidebar-wrapper">
        <ul class="panel-sidebar-holder">
            <li class="panel-sidebar-item first">
                <a href="/panel">
                    <figure class="logo"></figure>
                </a>
            </li>
            <li class="panel-sidebar-item">
                <a {% if menu == "placements" %} class="current" {% endif %} href="/panel/placements">
                    <figure id="campaign-sidebar">
                        <svg version="1.1" id="campaign-icon" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 54.9 70.6" enable-background="new 0 0 54.9 70.6" xml:space="preserve">
                            <g>
                                <path fill="none" stroke="#CCCCCC" stroke-width="2" stroke-miterlimit="10" d="M53.2,65.3c0.7-0.4,0.9-1.3,0.5-2
	c-2.4-3.9-5.2-8.4-7.4-12.2c-0.1-0.1-0.1-0.2-0.2-0.3c-0.4-0.7-0.2-1.6,0.5-2c2.1-1.3,4.1-2.5,5.9-3.7c0.9-0.5,0.9-1.8,0.1-2.4
	L22.8,20.9c-1.1-0.8-2.5,0.1-2.3,1.4l5.6,36.6c0.2,1,1.3,1.6,2.2,1c2.3-1.4,4.5-2.7,6.7-4.1c0.7-0.4,1.6-0.2,2,0.5
	c2.6,4.2,5.1,8.4,7.7,12.6c0.4,0.7,1.3,0.9,2,0.5C48.5,68.3,51.5,66.4,53.2,65.3z M35.8,21.6c1.6-0.2,3.1-0.5,4.6-0.7
	c1.1-0.2,1.9-0.8,1.8-2c0-1-1.1-1.7-2.4-1.5c-3.1,0.4-6.2,0.9-9.3,1.4c-1.1,0.2-1.9,0.8-1.7,2s1.1,1.6,2.3,1.4
	C32.7,22.1,34.2,21.9,35.8,21.6z M21.2,7.4c-0.2-1.6-0.5-3.2-0.7-4.8c-0.2-1-0.7-1.7-1.8-1.6c-1.2,0.1-1.7,0.9-1.6,2
	c0.4,3.3,0.9,6.6,1.5,9.9c0.2,1.1,0.9,1.8,2,1.5c1.1-0.2,1.5-1.1,1.3-2.2C21.6,10.6,21.4,9,21.2,7.4z M7.6,21.4
	c-1.6,0.3-3.3,0.5-4.9,0.8c-1.1,0.2-1.8,0.8-1.6,1.9c0.2,1.2,1,1.6,2.1,1.5c3.2-0.4,6.5-0.9,9.7-1.5c1-0.2,1.8-0.9,1.6-2
	c-0.2-1.1-1-1.5-2.1-1.4C10.6,20.9,9.1,21.1,7.6,21.4z M11.7,12.2c-1.3-1-2.7-2-4-2.9C6.8,8.6,5.9,8.5,5.1,9.5S4.7,11.4,5.6,12
	c2.6,2,5.3,3.9,8,5.8c0.9,0.6,1.8,0.6,2.5-0.4c0.7-1,0.3-1.8-0.6-2.5C14.2,14,12.9,13.1,11.7,12.2z M31.5,11.6c1-1.3,2-2.7,2.9-4
	c0.6-0.9,0.7-1.8-0.2-2.5s-1.9-0.4-2.5,0.4c-2,2.6-3.9,5.3-5.8,8c-0.6,0.9-0.6,1.8,0.4,2.5c1,0.7,1.8,0.3,2.5-0.6
	C29.7,14.1,30.6,12.8,31.5,11.6z M11.8,31.3c-1,1.3-2,2.7-2.9,4c-0.6,0.9-0.7,1.8,0.2,2.5c0.9,0.7,1.9,0.4,2.5-0.4
	c2-2.6,3.9-5.3,5.8-7.9c0.6-0.9,0.6-1.8-0.3-2.5c-1-0.7-1.8-0.4-2.5,0.5C13.7,28.8,12.8,30.1,11.8,31.3z"/>
                            </g>
</svg>
                    </figure>
                    <h5>{% trans %}PLACEMENTS{% endtrans %}</h5>
                </a>
            </li>
            <li class="panel-sidebar-item">
                <a {% if menu == "offers" %} class="current" {% endif %} href="/panel/offers">
                    <figure id="apps-sidebar"><?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="apps-icon" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                            <g>
                                <path fill="#CCCCCC" d="M395,496H105C49.3,496,4,450.7,4,395V105C4,49.3,49.3,4,105,4h290c55.7,0,101,45.3,101,101v290
	C496,450.7,450.7,496,395,496z M105,26c-43.6,0-79,35.4-79,79v290c0,43.6,35.4,79,79,79h290c43.6,0,79-35.4,79-79V105
	c0-43.6-35.4-79-79-79H105z"/>
                            </g>
</svg>

                    </figure>
                    <h5>{% trans %}OFFERS{% endtrans %}</h5>
                </a>
            </li>
            <li class="panel-sidebar-item dropdown"
                class="collapsed active">
                <a {% if menu == "reports" %} class="current" {% endif %} href="/panel/reports/saved">
                    <figure id="report-sidebar"><?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="report-icon" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 399 526" enable-background="new 0 0 399 526" xml:space="preserve">
<g>
    <path fill="#ccc" d="M360,526H39c-21.5,0-39-17.5-39-39V39C0,17.5,17.5,0,39,0h202.7l98.1,98.1l59.2,60.7V487
		C399,508.5,381.5,526,360,526z M39,18c-11.6,0-21,9.4-21,21v448c0,11.6,9.4,21,21,21h321c11.6,0,21-9.4,21-21V166.2l-54-55.4
		L234.3,18H39z"/>
    <path fill="#ccc" d="M390,171.5H263c-18.7,0-34-15.3-34-34V9h18v128.5c0,8.8,7.2,16,16,16h127V171.5z"/>
</g>
                            <g>
                                <line fill="#ccc" x1="59" y1="234" x2="340" y2="234"/>
                                <rect x="59" y="225" fill="#ccc" width="281" height="20"/>
                            </g>
                            <g>
                                <line fill="#ccc" x1="59" y1="282" x2="340" y2="282"/>
                                <rect x="59" y="273" fill="#ccc" width="281" height="20"/>
                            </g>
                            <g>
                                <line fill="#ccc" x1="59" y1="330" x2="340" y2="330"/>
                                <rect x="59" y="321" fill="#ccc" width="281" height="20"/>
                            </g>
                            <g>
                                <line fill="#ccc" x1="59" y1="378" x2="340" y2="378"/>
                                <rect x="59" y="369" fill="#ccc" width="281" height="20"/>
                            </g>
                            <g>
                                <line fill="#ccc" x1="60" y1="425" x2="216" y2="425"/>
                                <rect x="60" y="416" fill="#ccc" width="156" height="20"/>
                            </g>
</svg>
                    </figure>
                    <h5>{% trans %}REPORTS{% endtrans %}</h5>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="panel-sidebar-item">
                <a {% if menu == "domains" %} class="current" {% endif %} href="/panel/domains">
                    <figure id="domain-sidebar">
                        <svg version="1.1" id="domain-icon" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 491.9 512" enable-background="new 0 0 491.9 512" xml:space="preserve">
                            <g>
                                <path fill="#ccc" d="M277.5,279.4c6.3-20.8,12.4-40.9,18.4-61.1c1-3.2,2.2-4.7,5.9-4.4c5.3,0.4,10.6,0.1,16.2,0.1
	c-10,29.1-20,57.8-29.8,86.6c-0.7,2.1-1.5,2.6-3.3,2.4c-0.2,0-0.3,0-0.5,0c-5.8-0.3-12.9,2.2-16.9-1c-3.6-2.8-3.8-9.9-5.5-15.1
	c-5-15.4-10-30.8-15-46.2c-0.4-1.2-0.9-2.4-1.5-3.9c-7,21.2-14,42.1-20.8,62.9c-0.8,2.6-2,3.6-4.8,3.2c-2.5-0.3-5-0.1-7.5-0.1
	c-9.5,0-9.8,0.1-12.3-8.7c-7.3-25.1-16.5-49.6-24.3-74.6c-0.6-1.9-0.4-3.9-1.6-5.8c4.7,0,9.3,0.6,13.7-0.2c6.1-1.1,7.8,2.2,9.1,6.9
	c5.3,18.7,10.7,37.3,16,56c0.3,0.9,0.7,1.5,1.6,2c6.8-20.5,13.7-40.9,20.2-61.5c0.8-2.7,1.8-3.4,4.3-3.4c4.7,0.1,9.3,0.1,14,0
	c2.2,0,3.3,0.5,4,3.1c6.2,20.2,12.7,40.4,19.1,60.6C276.4,278.1,276.8,278.4,277.5,279.4z"/>
                                <path fill="#ccc" d="M420.3,236.7c-3.6,10.7-6.9,20.8-10.3,30.9c-3.6,10.8-7.5,21.5-10.8,32.4c-0.8,2.6-1.8,3.1-4.1,3.1
	c-2-0.1-4,0-6,0c-11.4,0-11.5,0-15-10.6c-8.1-24.8-16-49.8-24.3-74.5c-1.4-4.2,0.1-4,3-3.9c4,0.1,8,0.3,12-0.1
	c3.4-0.3,4.9,0.8,5.9,4.2c5.7,20.2,11.7,40.4,17.7,61.1c2.6-3.8,3.3-7.9,4.6-11.7c5.5-16.6,10.8-33.3,16.1-49.9
	c0.9-2.7,2.1-4.2,5.5-3.8c3.8,0.5,7.7,0.3,11.5,0.1c3.6-0.2,5.2,0.7,6.4,4.6c6.1,20.1,12.7,40,19.1,60.2c2.5-1.8,2.6-5,3.3-7.5
	c5-17.9,10.8-35.6,16.1-53.4c0.8-2.9,1.9-4,4.9-3.9c4.5,0.2,9,0.1,13.5,0c2.5-0.1,3.1,0.5,2.2,3.2c-9.6,27.7-19.1,55.5-28.4,83.3
	c-0.8,2.4-2,2.6-4,2.6c-4.7,0-9.3-0.2-14,0.1c-2.6,0.2-3.5-1.1-4.1-3.1C434.2,279.1,427.3,258.3,420.3,236.7z"/>
                                <path fill="#ccc" d="M39.5,280c6.9-21,13.8-41.5,20.3-62.1c1-3.2,2.3-4.1,5.4-4c4.3,0.2,8.7,0.2,13,0c2.5-0.1,3.6,0.5,4.4,3.1
	c6.4,20,12.9,40,19.4,59.9c0.3,0.9-0.4,1.9,0.8,2.9c6.3-20.7,12.5-41.2,18.7-61.8c0.9-3,2.1-4.3,5.4-4.1c4.5,0.3,9,0.2,13.5,0
	c2.6-0.1,3.1,0.6,2.1,3.2c-6.9,19.7-13.7,39.4-20.4,59.1c-2.8,8-5.3,16.1-8.1,24.2c-0.6,1.7-1.6,3.3-3.9,2.7c-0.8-0.2-1.7,0-2.5,0
	c-4.9-0.4-11,2.1-14.4-1.1c-3.1-2.9-3.6-8.7-5.1-13.2c-5.5-16.9-11-33.8-17-52.2c-3,9-5.5,16.6-8.1,24.2c-4.3,13.1-8.7,26.2-13,39.3
	c-0.6,1.9-1.4,3.3-4.1,3.2c-5-0.3-10-0.2-15,0c-2,0.1-2.6-0.6-3.2-2.5c-9-27.9-18.2-55.8-27.4-83.6c-0.7-2.2-0.2-3,2.1-2.9
	c5,0.1,10,0.2,15,0c2.6-0.1,3,1.6,3.5,3.2c5.7,19.5,11.4,39.1,17.1,58.7C38.3,277,38.9,278.2,39.5,280z"/>
                                <path fill="#ccc" d="M489.8,175.7c-5.2-14.1-10.7-28.1-18-41.4C461.8,116,450,99,436,83.7c-8.8-9.6-18.3-18.6-28.4-26.9
	c-14-11.4-28.9-21.3-44.9-29.4C348.5,20.4,333.9,14,318.5,10c-13-3.4-25.9-6.6-39.3-8.2c-3.3-0.4-7.1,0.4-10.2-1.8
	c-15.3,0-30.7,0-46,0c-0.3,0.3-0.6,0.9-0.9,0.9c-15.1,1-29.8,4.2-44.4,8c-25.1,6.6-48.3,17.2-70.1,31.1
	C86.9,53.2,68.7,69.3,52.5,87.8c-14.6,16.7-26.6,35-36.6,54.6C10.1,153.9,5.6,165.9,1.6,178c-0.9,2.8-2,6-0.9,9.3
	c1.7,5.1,5.4,7.7,10.6,7.6c5.6-0.1,8.8-4,10.4-8.7c3-8.8,6.3-17.4,10-26c6.7-15.6,15.7-29.9,25.3-43.8c1.9-2.7,4-3.7,7.1-1.5
	c2.1,1.5,4.3,3,6.6,3.9c17.6,7.3,35.1,15,53.8,19.3c1.5,0.4,2,1.4,1.6,3.3c-2.7,12.6-5.1,25.3-7.9,37.9c-2,9,3.6,16.6,11.9,15.6
	c5.1-0.6,9.1-5.9,9.9-13.1c1.4-12.1,4.6-23.8,7-35.6c0.4-1.9,1.1-2.1,3.4-1.7c18.1,3.3,36.2,6.6,54.6,7.6c5.6,0.3,11.3,0.1,16.7,1
	c4.3,0.7,9.8-1,12.3,1.4c2.7,2.6,0.7,8.2,0.8,12.5c0.2,5.8,0.2,11.6,0.3,17.4c6.1,1.1,12.2,0.1,18.3,0.6c3,0.2,3.5-1,3.5-3.7
	c-0.2-8,0-16-0.1-24c0-1.8-0.3-3.3,2.6-3.5c12.9-0.9,25.9-1.5,38.8-2.7c14.4-1.4,28.6-4,42.9-6.5c2.8-0.5,3.3-0.2,3.8,2.3
	c2.6,11.8,5.6,23.6,7.1,35.6c0.4,3.3,1,7,4,9.4c4.4,3.6,8.4,3.9,13.4,1.1c3.7-2.1,5.6-7.2,4.5-12.8c-2.6-12.5-4.3-25.1-7.9-37.4
	c-0.7-2.3-0.7-4.2,2.9-5.1c18.9-4.7,36.8-12.1,54.5-19.9c3-1.3,5.2-5.8,8.9-3.7c3.2,1.8,5,5.5,7,8.7c0.6,1,1.2,1.9,1.8,2.8
	c9.3,13.8,16.9,28.4,23.1,43.8c2.1,5.4,3.8,10.9,5.7,16.3c3.1,9,12.3,12,18.6,6C493.8,186.9,491.7,181,489.8,175.7z M137,106.6
	c-1.1,3-2.9,5.7-3.1,9.1c-0.1,2-1.6,2.6-3.6,2c-17.8-5.4-35.3-11.4-52.1-19.6c-4.5-2.2-3.1-4-0.8-6.1c13.3-12.2,26.7-24.5,42.1-34.1
	c18.4-11.5,37.9-20.8,58.8-27c0.4-0.1,1,0.1,2.5,0.4c-8.1,8.1-14.2,16.7-19.9,25.5C151,72.6,143.2,89.3,137,106.6z M231,132.1
	c-15.9-0.2-31.7-1.7-47.5-3.9c-8.5-1.2-16.9-2.8-25.4-3.9c-4.8-0.6-3.6-2.5-2.6-5.2c7.9-22.6,18-44,32.6-63.1
	c11.2-14.7,24.6-26.7,42.8-32.5c3.6-1.1,4.2-0.3,4.2,3.1c-0.1,17,0,34,0,50.9c0,16.8-0.1,33.6,0.1,50.4
	C235.1,131.3,234.2,132.1,231,132.1z M333.3,124.2c-14.1,2.4-28.1,4.7-42.4,5.9c-10.2,0.9-20.3,1.9-30.5,1.9c-2.8,0-3.6-0.8-3.6-3.6
	C257,111.3,257,94.2,257,77c0-16.6,0.1-33.3,0-49.9c0-3.8,0.3-4.8,4.6-3.3c15.1,5.1,26.8,14.3,37.1,26.3
	c17.5,20.2,28.6,43.7,37.6,68.6C337.5,122,338.4,123.4,333.3,124.2z M414.4,98c-11.4,5-22.9,10-34.7,14.1c-5.9,2.1-12,3.4-17.9,5.5
	c-2.3,0.8-3.2,0-3.9-2.2c-9-27.2-20.9-52.8-39-75.3c-2.3-2.8-5.5-5.1-7.2-8.8c3.7-0.8,6.8,1,9.5,1.9c18.7,6.6,36.6,15,53,25.9
	c12.8,8.5,25,17.8,35.6,29.1c1.6,1.8,3.9,3,5.6,4.7C417.1,94.9,417.3,96.7,414.4,98z"/>
                                <path fill="#ccc" d="M491.2,324.7c-1.7-5.1-5.4-7.7-10.6-7.6c-5.6,0.1-8.9,4-10.4,8.7c-3,8.8-6.3,17.4-10,26
	c-6.7,15.6-15.7,29.9-25.3,43.8c-1.9,2.7-4,3.7-7.1,1.5c-2.1-1.5-4.3-3-6.6-3.9c-17.6-7.3-35.1-15-53.8-19.3c-1.5-0.4-2-1.4-1.6-3.3
	c2.7-12.6,5.1-25.3,7.9-37.9c2-9-3.6-16.6-11.9-15.6c-5.1,0.6-9.1,5.9-9.9,13.1c-1.4,12.1-4.6,23.8-7,35.6c-0.4,1.9-1.1,2.1-3.4,1.7
	c-18.1-3.3-36.2-6.6-54.6-7.6c-5.6-0.3-11.3-0.1-16.7-1c-4.3-0.7-9.8,1-12.3-1.4c-2.7-2.6-0.7-8.2-0.8-12.5
	c-0.2-5.8-0.2-11.6-0.3-17.4c-6.1-1.1-12.2-0.1-18.3-0.6c-3-0.2-3.5,1-3.5,3.7c0.2,8,0,16,0.1,24c0,1.8,0.3,3.3-2.6,3.5
	c-12.9,0.9-25.9,1.5-38.8,2.7c-14.4,1.4-28.6,4-42.9,6.5c-2.8,0.5-3.3,0.2-3.8-2.3c-2.6-11.8-5.6-23.6-7.1-35.6c-0.4-3.3-1-7-4-9.4
	c-4.4-3.6-8.4-3.9-13.4-1.1c-3.7,2.1-5.6,7.2-4.5,12.8c2.6,12.5,4.3,25.1,7.9,37.4c0.7,2.3,0.7,4.2-2.9,5.1
	c-18.9,4.7-36.8,12.1-54.5,19.9c-3,1.3-5.2,5.8-8.9,3.7c-3.2-1.8-5-5.5-7-8.7c-0.6-1-1.2-1.9-1.8-2.8c-9.3-13.8-16.9-28.4-23.1-43.8
	c-2.1-5.4-3.8-10.9-5.7-16.3c-3.1-9-12.3-12-18.6-6c-5.2,5-3.2,10.9-1.2,16.2c5.2,14.1,10.7,28.1,18,41.4
	C30.1,396,41.9,413,56,428.3c8.8,9.6,18.3,18.6,28.4,26.9c14,11.4,28.9,21.3,44.9,29.4c14.1,7.1,28.7,13.5,44.2,17.5
	c13,3.4,25.9,6.6,39.3,8.2c3.3,0.4,7.1-0.4,10.2,1.8c15.3,0,30.7,0,46,0c0.3-0.3,0.6-0.9,0.9-0.9c15.1-1,29.8-4.2,44.4-8
	c25.1-6.6,48.3-17.2,70.1-31.1c20.7-13.2,38.9-29.3,55.1-47.8c14.6-16.7,26.6-35,36.6-54.6c5.8-11.4,10.3-23.4,14.3-35.6
	C491.3,331.2,492.3,328,491.2,324.7z M179.8,480.4c-0.7,1.2-1.8,0.4-3,0c-20.9-6.2-40.4-15.6-58.6-27.5
	c-12.7-8.3-24.8-17.5-35.3-28.5c-2.1-2.2-4.7-4-6.8-6.3c-1.3-1.4-1.3-2.7,1-3.9c17.2-8.3,35.1-14.8,53.4-20.2c0.3-0.1,0.6-0.1,1-0.2
	c1.5,0.1,2.1,1,2.5,2.5c3.7,13,9,25.3,15.1,37.3c8,15.9,17,31.2,29.4,44.2C179.1,478.7,180.4,479.3,179.8,480.4z M235,434.5
	c0,16.8-0.1,33.6,0.1,50.4c0,4-0.6,4.6-4.7,3.2c-15.1-5.1-26.8-14.3-37.2-26.3c-11.6-13.3-20.2-28.4-27.7-44.1
	c-4-8.4-7-17.2-10.4-25.8c-0.9-2.4-0.7-3.5,2.7-4.2c11.7-2.4,23.7-3.4,35.5-5.7c3.8-0.7,7.8-0.7,11.7-0.9c8.9-0.5,17.8-1.7,26.7-1.3
	c2.9,0.1,3.5,1,3.5,3.7C234.9,400.6,235,417.6,235,434.5z M261.2,488.5c-3.5,1.1-4.3,0.4-4.3-3c0.1-17,0.1-34,0.1-50.9
	c0-16.8,0.1-33.6-0.1-50.4c0-3.2,0.7-4.1,4.1-4.1c15.9,0.1,31.7,1.7,47.5,3.9c8.5,1.2,16.9,2.8,25.4,3.9c4.7,0.6,3.6,2.5,2.7,5.2
	c-7.9,22.5-18,44-32.6,63.1C292.7,470.6,279.3,482.7,261.2,488.5z M414.6,419.8c-13.2,11.9-26.2,24-41.3,33.5
	c-18.3,11.5-37.5,20.9-58.2,27.2c-1,0.3-2.1,0.8-2.7,0.1c-1.1-1.3,0.5-2,1.2-2.7c10.3-11.3,18.5-24,25.7-37.5
	c7.6-14.2,13.9-28.8,18.7-44.1c0.6-2,1.6-2.7,3.6-2.1c18.3,5.5,36.3,11.6,53.3,20.3c0.7,0.4,2.2,0.1,2,1.9
	C416.2,417.5,415.6,418.9,414.6,419.8z"/>
</svg>
                        </g>
                    </figure>
                    <h5>{% trans %}DOMAINS{% endtrans %}</h5>
                </a>
            </li>
            <li class="panel-sidebar-item">
                <a {% if menu == "test-tool" %} class="current" {% endif %} href="/panel/test-tool">
                    <figure id="domain-sidebar"><?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="domain-icon" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 500.1 500" enable-background="new 0 0 500.1 500" xml:space="preserve">
                            <g>
                                <path fill="#ccc" d="M486.4,420.5l-98.8-98.8l13.2-13.2l-13.2-13.2l-39.5,39.5L282.3,269l79.1-79.2c10.5,3.8,21.6,5.7,32.9,5.7
	c26.1,0,50.6-10.2,69.1-28.6c28.5-28.5,36.5-70.8,20.6-107.9l-5.4-12.6l-42.4,42.4l-34.2,0.5l0.5-32.6l43.3-43.3L433,8
	c-12.3-5.3-25.4-8-38.9-8c-26.1,0-50.6,10.2-69,28.6c-27,27-35.7,66.4-22.9,102L223,209.7l-112-112l13.2-13.2L51.8,12.2L12.3,51.7
	l72.5,72.4L97.9,111l112,112L130.7,302c-10.6-3.8-21.6-5.7-33-5.7c-26.1,0-50.6,10.2-69.1,28.6c-28.5,28.5-36.6,70.9-20.5,108
	l5.4,12.6l43.3-43.3l32.6-0.4L89,436l-42.4,42.4l12.6,5.4c12.3,5.3,25.4,8,38.8,8c26.1,0,50.6-10.2,69-28.6
	c27-27,35.7-66.4,23-101.9l79.2-79.2L335,348l-39.5,39.5l13.2,13.2l13.2-13.2l98.8,98.8c8.8,8.8,20.5,13.7,32.9,13.7
	c12.4,0,24.1-4.8,32.9-13.7C504.6,468.2,504.6,438.7,486.4,420.5z M38.6,51.7l13.2-13.2l46.1,46.1L84.7,97.8L38.6,51.7z
	 M170.5,362.8c12.9,30,6.4,64.3-16.7,87.3c-14.9,14.9-34.8,23.1-55.9,23.1c-6.1,0-12-0.7-17.8-2l27.4-27.4l0.8-60.9L49,383.7
	L20.8,412c-6.2-26.4,1.4-54.2,21.1-73.9C56.8,323.2,76.6,315,97.7,315c10.9,0,21.5,2.2,31.5,6.5l5.8,2.5l189-189l-2.5-5.8
	c-13-30-6.5-64.3,16.6-87.4c14.9-14.9,34.8-23.1,55.9-23.1c6.1,0,12.1,0.7,18,2l-28.3,28.3l-0.8,59.3l60.9-0.8L471.3,80
	c6.1,26.3-1.5,54.1-21.1,73.7c-14.9,14.9-34.8,23.1-55.9,23.1c-10.9,0-21.5-2.2-31.5-6.5l-5.8-2.5L168,357L170.5,362.8z
	 M473.3,473.2c-5.3,5.3-12.3,8.2-19.8,8.2c-7.5,0-14.5-2.9-19.8-8.2L335,374.4l39.5-39.5l98.8,98.8
	C484.2,444.6,484.2,462.3,473.3,473.2z"/>
                            </g>
</svg>

                    </figure>
                    <h5>{% trans %}TEST TOOL{% endtrans %}</h5>
                </a>
            </li>
            {% if user.id == 1 %}
                <li class="panel-sidebar-item">
                    <a {% if menu == "admin" %} class="current" {% endif %} href="/panel/admin">
                        <figure id="test-sidebar">
                            <svg version="1.1" id="test-icon" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 500.1 500" height="32" width="32" enable-background="new 0 0 100.1 100"
                                 xml:space="preserve">
<g>
    <path fill="#ccc"
          d="M255.204,102.3c-0.606-11.321-12.176-9.395-23.465-9.395C240.078,95.126,247.967,98.216,255.204,102.3z"/>
    <path fill="#ccc" d="M134.524,73.928c-43.825,0-63.997,55.471-28.963,83.37c11.943-31.89,35.718-54.788,66.886-63.826
		C163.921,81.685,150.146,73.928,134.524,73.928z"/>
    <path fill="#ccc" d="M43.987,148.617c1.786,5.731,4.1,11.229,6.849,16.438L36.44,179.459c-3.866,3.866-3.866,10.141,0,14.015l25.375,25.383
		c1.848,1.848,4.38,2.888,7.019,2.888c2.61,0,5.125-1.04,7.005-2.888l14.38-14.404c2.158,1.142,4.55,1.842,6.785,2.827
		c0-0.164-0.016-0.334-0.016-0.498c0-11.771,1.352-22.875,3.759-33.302c-17.362-11.174-28.947-30.57-28.947-52.715
		c0-34.592,28.139-62.739,62.723-62.739c23.418,0,43.637,13.037,54.43,32.084c11.523-1.429,22.347-1.429,35.376,1.033
		c-1.676-5.07-3.648-10.032-6.118-14.683l14.396-14.411c1.878-1.856,2.918-4.38,2.918-7.004c0-2.625-1.04-5.148-2.918-7.004
		l-25.361-25.367c-1.94-1.941-4.472-2.904-7.003-2.904c-2.532,0-5.063,0.963-6.989,2.904l-14.442,14.411
		c-5.217-2.764-10.699-5.078-16.444-6.825V9.9c0-5.466-4.411-9.9-9.893-9.9h-35.888c-5.451,0-9.909,4.434-9.909,9.9v20.359
		c-5.73,1.747-11.213,4.061-16.446,6.825L75.839,22.689c-1.942-1.941-4.473-2.904-7.005-2.904c-2.531,0-5.077,0.963-7.003,2.896
		L36.44,48.048c-1.848,1.864-2.888,4.379-2.888,7.012c0,2.632,1.04,5.148,2.888,7.004l14.396,14.403
		c-2.75,5.218-5.063,10.708-6.817,16.438H23.675c-5.482,0-9.909,4.441-9.909,9.915v35.889c0,5.458,4.427,9.908,9.909,9.908H43.987z"
            />
    <path fill="#ccc" d="M354.871,340.654c15.872-8.705,26.773-25.367,26.773-44.703c0-28.217-22.967-51.168-51.184-51.168
		c-9.923,0-19.118,2.966-26.975,7.873c-4.705,18.728-12.113,36.642-21.803,52.202C309.152,310.022,334.357,322.531,354.871,340.654z
		"/>
    <path fill="#ccc" d="M460.782,276.588c0-5.909-4.799-10.693-10.685-10.693H428.14c-1.896-6.189-4.411-12.121-7.393-17.75l15.544-15.544
		c2.02-2.004,3.137-4.721,3.137-7.555c0-2.835-1.118-5.553-3.137-7.563l-27.363-27.371c-2.08-2.09-4.829-3.138-7.561-3.138
		c-2.734,0-5.467,1.048-7.547,3.138l-15.576,15.552c-5.623-2.982-11.539-5.481-17.751-7.369v-21.958
		c0-5.901-4.768-10.685-10.669-10.685H311.11c-2.594,0-4.877,1.04-6.739,2.578c3.26,11.895,5.046,24.793,5.046,38.552
		c0,8.735-0.682,17.604-1.956,26.423c7.205-2.656,14.876-4.324,22.999-4.324c36.99,0,67.086,30.089,67.086,67.07
		c0,23.637-12.345,44.353-30.872,56.303c13.48,14.784,24.195,32.324,31.168,51.976c1.148,0.396,2.344,0.684,3.54,0.684
		c2.733,0,5.467-1.04,7.563-3.13l27.379-27.371c2.004-2.004,3.106-4.721,3.106-7.555s-1.102-5.551-3.106-7.563l-15.576-15.552
		c2.982-5.621,5.497-11.555,7.393-17.75h21.957c2.826,0,5.575-1.118,7.563-3.138c2.004-1.996,3.138-4.72,3.138-7.555
		L460.782,276.588z"/>
    <path fill="#ccc" d="M376.038,413.906c-16.602-48.848-60.471-82.445-111.113-87.018c-16.958,17.958-37.954,29.351-61.731,29.351
		c-23.759,0-44.771-11.392-61.713-29.351c-50.672,4.573-94.543,38.17-111.145,87.026l-9.177,27.013
		c-2.625,7.773-1.368,16.338,3.416,23.007c4.783,6.671,12.486,10.631,20.685,10.631h315.853c8.215,0,15.918-3.96,20.702-10.631
		c4.767-6.669,6.041-15.234,3.4-23.007L376.038,413.906z"/>
    <path fill="#ccc" d="M120.842,206.782c0,60.589,36.883,125.603,82.352,125.603c45.487,0,82.368-65.014,82.368-125.603
		C285.563,81.188,120.842,80.939,120.842,206.782z"/>
</g>
                    </svg>
                        </figure>
                        <h5>{% trans %}ADMINISTRATOR{% endtrans %}</h5>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>
<div class="sidebar-user-holder dropdown">
    <a class="sidebar-user-item" {% if menu == "useraccount" %} class="current" {% endif %} href="#"
       data-toggle="dropdown">
        <h5><i class="fa fa-cog"></i> {% trans %} My Account{% endtrans %}</h5>
    </a>

    <ul class="dropdown-menu not-slide not-close sidebar-user-dropdown">
        <span class="arrow-icon"></span>

        <div class="user-account-holder">
            <p class="user-name">{{ user['name'] }}</p>
            <a href="{{ siteUrl('/panel/settings') }}"
               class="button button-verythin a button-blue  button-xs right user-account-button">{% trans %}
                Settings{% endtrans %}</a>
        </div>

        <div class="user-usage-holder">
            <h5 class="user-usage-package">{{ user['package']['name'] }} {% trans %}Tier{% endtrans %}</h5>

            <p class="user-usage-project-number">{{ user['usage']|number_format }} Clicks</p>

            <p class="user-usage-project-usage"><b>${{ user['estimate']|number_format }}</b> {% trans %}
                Estimate{% endtrans %} </p>

        </div>

        <div class="user-logout-holder">
            <a href="{{ siteUrl('/signout') }}"
               class="button button-verythin a button-red  button-xs right user-logout-button">{% trans %}Log
                out{% endtrans %}</a>
        </div>


    </ul>
</div>
